<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href="/stylesheets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel='stylesheet' href="/stylesheets/vendor/fontawesome/css/all.css">
    <link rel='stylesheet' href="/stylesheets/cssLogin.css">
    <link rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
  </head>
  <body>
    <div class="limiter">
        <div class="form-login" style="background-image: url('/images/background/background.png'); height: 654px;">
            <div class="card-form shadow-sm">
                <div class="card" style="width: 35rem;">
                    <div class="card-body">
                        <div class="logo"><img src="/images/background/logo.png"></div>
                        <h5>Create an Account!</h5>
                        
                        <form class="mt-4" onsubmit="return validate();" novalidate id="frmRegister" name="frmRegister">
                            <div class="form-group mt-3">
                                <input type="text" class="form-control" placeholder="Username" autofocus name="username">
                            </div>
                            
                            <div class="row mt-3">
                                <div class="col">
                                    <input type="password" class="form-control" placeholder="Password" name="password">
                                </div>
                                <div class="col">
                                    <input type="password" class="form-control" placeholder="Repeat Password" name="repeat-password">
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="Name" name="name">
                                </div>
                                <div class="col">
                                    <input type="text" id="txtBirthday" class="form-control" placeholder="Birthday" name="birthday">
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <input type="email" class="form-control" placeholder="Email" name="email">
                            </div>
                            
                            <button type="submit" class="btn btn-block btn-primary mt-3 mb-1">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/stylesheets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
    <script>
        $('#txtBirthday').datetimepicker({
            format: 'd/m/Y',
            timepicker: false,
            mask: true,
        });

        function validate() {
            return true;
        }
    </script>
  </body>
</html>