<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href="/stylesheets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel='stylesheet' href="/stylesheets/vendor/fontawesome/css/all.css">
    <link rel='stylesheet' href="/stylesheets/cssIndex.css">
    <link rel='stylesheet' href="/stylesheets/cssLogin.css">
  </head>
  <body>
    {{{body}}}
    <script type="text/javascript" src="/stylesheets/vendor/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
